ws.safemedia.com {

    # Proxy WebSocket traffic separately
    reverse_proxy anttp_server:8081

    encode gzip

    log {
        output stdout
    }

}

anttp.safemedia.com {

    # Proxy all other traffic to antTP Rust server
    reverse_proxy anttp_server:18888

    @html {
        header Content-Type text/html*
    }

    filter @html {
        find_body "</body>"
        replace "<div>header</div></body>"
    }

    encode gzip

    log {
        output stdout
    }

}

dweb.safemedia.com {

    # Proxy all other traffic to DWEB Rust server
    reverse_proxy  dweb_server:8083

    encode gzip

    log {
        output stdout
    }

}
